%h1 Welcome to TypeEverything

%h3 We like to Type things. Do you?

.row
  .col-md-offset3.col-md-6
    %a.btn.btn-primary.btn-lg{:href=''} Celebrities
  .col-md-3

.row
  .col-md-offset3.col-md-6
    %a.btn.btn-primary.btn-lg{:href=''} Historical Figures
  .col-md-3

.row
  .col-md-offset3.col-md-6
    %a.btn.btn-primary.btn-lg{:href=''} Scientists
  .col-md-3

.row
  .col-md-offset3.col-md-6
    %a.btn.btn-primary.btn-lg{:href=''} Public Figures
  .col-md-3

  .row