.text-center
  %h1 Welcome to TypeEverything

  %h3 We like to Type things. Do you?

  %br
  %br

  .row
    .col-md-6.text-center
      %a.btn.btn-primary.btn-lg{href: ''} Celebrities

    .col-md-6.text-center
      %a.btn.btn-primary.btn-lg{href: ''} Historical Figures

  %br 
  %br

  .row
    .col-md-6.text-center
      %a.btn.btn-primary.btn-lg{href: ''} Scientists

    .col-md-6.text-center
      %a.btn.btn-primary.btn-lg{href: ''} Public Figures

  .row