.game {
  width: 100%;
  height: 100vh;

  color: #fff;
  background-color: #222;
}

.game-shade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  background-color: rgba(0,0,0,0.25);
  z-index: 10;
}

.figure {
  position: relative;
  top: 40px;
  background-color: rgba(200,200,200,.5);
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.figure-name h1 {
  font: 400 88px 'Roboto Condensed';
  color: #fff;
}
.figure-description {
  font: 100 24px 'Roboto';
  color: rgb(242,242,242);
  letter-spacing: .43em;

  margin-top: 0;
  padding-bottom: 0.65em;
}

.play-buttons-holder {
  position: relative;
  height: 100%;
  margin-top: 3%;
}

.play-buttons-title {
  font: 100 20px 'Roboto';
  color: rgb(95,95,95);
  letter-spacing: .3em;
}
.play-buttons {}

.slideout-menu-area {
  position: fixed;
  height: 40%;
  width: 100%;
  top: 60%;
  bottom: 0%;

  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.slideout-menu {
  position: relative;
  width: 100%;
  height: 90%;

  bottom: -100%;

  z-index: 1000;

  background: rgba(255,255,255, 0.7);
  color: white;

  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.slideout-menu-area:hover .slideout-menu {
  bottom: -20%;
}

.slideout-menu.background--light {}

.slideout-menu.background--dark, .slideout-menu.background--complex {}


/* MBTI and NEXT BUTTONS */

.mbtiButton {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: none;

  width: 5em;
  height: 3em;

  background-color: #f900c2;
  border-radius: 5px;
  color: #fff;

  margin-top: .6em;
  margin-bottom: .6em;
  margin-left: .6em;
  margin-right: .6em;

  padding: 10px !important;

  text-align: center;

  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;

  &.sentinels {
  }
  &.artisans {
  }
  &.champions {
  }
  &.rationals {
  }
}

.next-button-area {}

.next-button-holder {
  position: relative;
  left: 36%;
  margin-top: 55px;
}

.next-button {
  height: 120px;
  width: 133px;
  text-align: center;
}

.next-button-arrow {
  color: #F2F2F2;
  font-size: 4em;
  position: relative;
  top: 13%;
}

.next-btn:hover {
 color: #fff;
}

/* BACKGROUND-CHECK modified styles */

.background--light .next-button-arrow {
  color: #333; 
}
.background--light:hover .next-button-arrow:hover {
  color: #000;
}

//.figure-name.background--light {
//  color: #333;
//}
.figure-name.background--dark, .figure-description.background--dark {
  color: #F2F2F2;
}

.cover-photo {
}
