#slideout-menu-area {
  position: fixed;
  height: 100%;
  width: 33%;
  top: 0px;
  bottom: 0px;
  
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;  
}

#slideout-menu {
  position: relative;
  width: 60%;
  height: 100%;
  
  left: -100%;
  top: 0%;
  bottom: 0%;

  z-index: 1000;
  
  background: rgba(80,80,80, 0.9);
  color: white;
  
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;  
}

#slideout-menu-area:hover #slideout-menu {
  left: 0%;
}

#play-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  position: absolute;
  overflow: hidden;
  top: 0px;  /* Header height */
  bottom: 0px;  /* Footer height */
  width: 100%;
}

#play-container-shade {
  background-color: rgba(0,0,0,0.25);
  z-index: 10;
}

#play-buttons-holder {
  position: relative;
  height: 100%;
}

#play-buttons {
  position: fixed;
  top: 20%;
}

#figure-holder {
}

#figure-name {
  font: 400 88px 'Roboto Condensed';
  color: #F2F2F2;
}

#figure-description {
  font: 400 48px 'Roboto Condensed';
  color: #F2F2F2;
  position: fixed;
  left: 33%;
  top: 40%;
}

.mbti-btn {
  width: 5em;
  height: 3em;
  
  margin-top: .6em;
  margin-bottom: .6em;
  margin-left: .6em;
  margin-right: .6em;
  
  padding: 10px !important;
  
  text-align: center;
}

#next-button-area {}

#next-button-holder {
  position: fixed;
  top: 43%;
  left: 85%;
}

#next-button {
}

#next-button-arrow {
	color: #F2F2F2;
  font-size: 4em;
}

#next-btn:hover {
 color: #fff;
}

/* BackgroundCheck modified styles */
.ghost-btn.background--light {
  color: #333;
  border-color: #333;
  border-width: 2px;
}
.ghost-btn.background--light:hover {
  color: #000;
}
.ghost-btn.background--dark {}
.ghost-btn.background--dark:hover {}

.background--light #next-button-arrow {
  color: #333; 
}
.background--light:hover #next-button-arrow:hover {
  color: #000;
}

#figure-name.background--light {
  color: #333;
}
#figure-name.background--dark {
  color: #F2F2F2;
}
#figure-name.background--complex {
  color: #F2F2F2;
}
#figure-name.background-light.background--complex {
  color: #F2F2F2;
}

#figure-description.background--light {
  color: #333;
}
#figure-description.background--dark {
  color: #F2F2F2;
}
#figure-description.background--dark.background--complex {
  color: #333;
}
#figure-description.background--light.background--complex {
  color: #F2F2F2;
}