#upload-modal {
  #new_figure {
    margin: 0 5%;
    padding-top: 10px;

    .figure-attr-label {
      margin-top: 5px;
    }

    .image-warning {
      font-style: italic;
      text-align: center;
      margin: 5px 0;
    }
  }
}
